body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#container {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
